<nav class='navbar navbar-light' style="background-color: #ffd280;">
  <div class='container-fluid justify-content-evenly'>
    <nav class="navbar navbar-expand ">
      <div class="container-fluid ">
        <a class="navbar-brand fs-1 px-5" style='font-family: papyrus;' href="/">Luxury Decor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Furniture
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Living Room Sets</a></li>
                <li><a class="dropdown-item" href="#">Home Office</a></li>
                <li><a class="dropdown-item" href="#">Bathroom</a></li>
              </ul>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="#">Seasonal Items</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="#">New Arrivals</a>
            </li>
          </ul>

        <!-- Shopping cart -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a class="nav-link" href="#">My Cart</a>
          </li>
        </ul>
          
        </div>
      </div>
    </nav>


  </div>
</nav>
<nav>
    <form class="p-3 d-flex align-items-center justify-content-center">
      <input class="form-control" style="width: 20em;" type="search" placeholder="What are you looking for today?" aria-label="Search">
      <div class ='p-3'>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </nav>