{% extends 'base.html' %}

{% block content %}
<div class='p-3 m-5'>
  <button type="button" class='btn btn-primary fs-4'><a style="text-decoration: none; color: white;" href='/poetry'>
    Go back</a>
  </button>

  <div class="row">
    <form method='POST' action="/{{poem._id}}">
      <input type='hidden' name='_method' value='PUT'/>
      {% include 'partials/poem_form.html' %}
      <!-- Button -->
      <div class="form-group p-4">
        <button class='btn btn-success' type='submit'>Save Poem</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}