{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="POST" action="/poetry">
      <fieldset>
        <legend>Upload New Poem</legend>
      
        <!-- title -->
        <div class="form-group">
          <label for="image">Title</label><br>
          <input class='form-control' id='title' name='title' type="text" value="{{ poem.title }}">
        </div>
        <!-- poem -->
        <div class='form-group'>
          <label for='description'>Poem</label><br>
          <input class='form-control' id='poem' type='text' name='poem' value='{{ poem.poem }}' />
        </div>

      </fieldset>
      <!-- Button -->
        <div class="form-group">
          <button class='btn btn-success' type='submit'>Save Poem</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}


