{% extends 'base.html' %}

{% block content %}
<h1 class="text-center p-3">My Photos</h1>

<div class="container">
  <div class="py-3 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-3.jpeg')}}" width="300">
    </div>
  </div>

  <div class="py-3 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-4.jpeg')}}" width="300">
    </div>
  </div>

  <div class="py-3 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-3.jpeg')}}" width="300">
    </div>
  </div>

  <div class="py-3 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-3.jpeg')}}" width="300">
    </div>
  </div>

  <div class="py-3 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-3.jpeg')}}" width="300">
    </div>
  </div>
</div>


{% endblock %}

