{% extends 'base.html' %}

{% block content %}
<h1 class="text-center p-5">My Photos</h1>

<div class="container">
  <div class="py-5 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-1.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-2.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-3.jpeg')}}" width="300" height="200">
    </div>
  </div>

  <div class="py-5 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-4.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-5.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-7.jpeg')}}" width="300" height="200">
    </div>
  </div>

  <div class="py-5 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-6.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-8.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-9.jpeg')}}" width="300" height="200">
    </div>
  </div>

  <div class="py-5 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-10.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-11.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-12.jpeg')}}" width="300" height="200">
    </div>
  </div>

  <div class="py-5 row row-cols-3">
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-13.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-14.jpeg')}}" width="300" height="200">
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='images/img-15.jpeg')}}" width="300" height="200">
    </div>
  </div>
</div>


{% endblock %}

