{% extends 'base.html' %}
<!-- style="background-image: url('/static/images/profile-bg-2.jpeg'); width: 100%;" -->
{% block content %}

<!-- flash alert -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class='text-center alert alert-{{ category }}'>{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div style="background-image: url('/static/images/profile-bg-2.jpeg'); background-attachment: fixed;">
  <h1 class="text-center p-5">My Poems</h1>

  <div class="text-center">
    <button type="button" class="btn btn-outline-primary">
      <a href='/poetry/new'>Upload New Poem >></a>
    </button>
  </div>


  <div class=' m-3'>
    {% for poem in poems %}
      <div>
        <div class='p-5 m-4 border border-primary' style="background-color: white;">
          <!-- title -->
          <div class="pb-5 text-center " style="font-family: cursive;">
            <h2><a href='/poems/{{ poem._id }}'>{{ poem.title }}</a></h2>
          </div>
          <!-- poem-->
          <div style="background-color: #e6ebec;">
            <div class=" p-3 border border-secondary border-1">
              <p class="lh-lg text-secondary">{{ poem.poem }}</p>
            </div>
          </div>
          <!-- date created -->
          <div class="p-2">
            <p class="d-flex align-items-end justify-content-end" style="color: blue;">{{ poem.date_created }}</p>
            <!-- edit poem-->
            <p><a href='/poems/{{ poem._id }}/edit'>Edit</a></p>
            <!-- delete poem -->
            <p><form method='POST' action='/poems/{{ poem._id }}/delete'>
              <button class='btn btn-outline-danger' type='submit'>Delete</button>
            </form></p>

            <!-- delete button -->
            <!-- <div class="p-2">
              <button type="button" class="btn btn-outline-primary"><a href="/poems/{{ poem._id }}/edit">Edit Poem</a></button>
            </div> -->
          </div>
        </div>
      </div>
      

    {% endfor %}
  </div>

  
</div>

{% endblock %}