{% extends 'base.html' %}

{% block content %}

<!-- add new nav: Most popular news -->

<div style="background-image: url('/static/images/profile-bg.jpeg'); background-attachment: fixed;">
  <h1 class="text-center p-5">Latest News</h1>

  <nav>
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Links</a>
      </li>
    </ul>
  </nav>

</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class='alert alert-{{ category }} text-center'>{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}