{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 40vh;">
      <!-- username -->
      <form method=POST action="{{ url_for('register') }}">
        <div class="form-group">
          <label for="inputUser">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <!-- password -->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" name="pass" placeholder="Password">
        </div>
        <!-- button -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      <br>
    </div>
  </div>
</div>
{% endblock %}