{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center p-5"> My Short Stories</h1>

  <!-- short stories -->
  <div class="border p-5 m-4 border border-primary">
    <div class="clearfix">
      <img src="{{ url_for('static', filename='stories-images/img-1.jpeg')}}" class="col-md-6 float-md-end mb-3 ms-md-3">
      <h3 class="p-3 text-center">Maine to the Rescue</h3>
      <p>
        "Oh, dear! oh, dear! It's snowing!"
        "Hurrah! hurrah! It's snowing!"
        Massachusetts looked up from her algebra. She was the head of the school. She was rosy and placid as the apple she was generally eating when not in class. Apples and algebra were the things she cared most about in school life.
      </p>
    
      <p>
        "Whence come these varying cries?" she said, taking her feet off the fender and trying to be interested, though her thoughts went on with "a 1/6 b =" etc.
        "Oh, Virginia is grumbling because it is snowing, and Maine is feeling happy over it, that's all!" said Rhode Island, the smallest girl in Miss Wayland's school.
        "Poor Virginia! It is rather hard on you to have snow in March, when you have just got your box of spring clothes from home."
      </p>
    
      <p>
        "It is atrocious!" said Virginia, a tall, graceful, languishing girl. "How could they send me to such a place, where it is winter all the spring? Why, at home the violets are in blossom, the trees are coming out, the birds singing--"
        "And at home," broke in Maine, who was a tall girl, too, but lithe and breezy as a young willow, with flyaway hair and dancing brown eyes, "at home all is winter--white, beautiful, glorious winter, with ice two or three feet thick on the rivers, and great fields and fields of snow, all sparkling in the sun, and the sky a vast sapphire overhead, without a speck. Oh, the glory of it, the splendor of it! And here--here it is neither fish, flesh, fowl, nor good red herring. A wretched, makeshift season, which they call winter because they don't know what else to call it."
        "Come! come!" said Old New York, who was seventeen years old and had her own ideas of dignity. "Let us alone, you two outsiders! We are neither Eskimos nor Hindoos, it is true, but the Empire State would not change climates with either of you."
      </p>
    </div>
  </div>

  <div class="border p-5 m-4 border border-primary">
    <div class="clearfix">
      <img src="{{ url_for('static', filename='stories-images/img-2.jpeg')}}" class="col-md-6 float-md-end mb-3 ms-md-3">
      <h3 class="p-3 text-center">The Dog</h3>
      <p>
        The dog is a member of society who likes to have his day's work, and who does it more conscientiously than most human beings. 
        A dog always looks as if he ought to have a pipe in his mouth and a black bag for his lunch, and then he would go quite happily to office every day.
      </p>
    
      <p>
        A dog without work is like a man without work, a nuisance to himself and everybody else. 
        People who live about town, and keep a dog to give the children hydatids and to keep the neighbours awake at night, imagine that the animal is fulfilling his destiny. 
        All town dogs, fancy dogs, show dogs, lap-dogs, and other dogs with no work to do, should be abolished; it is only in the country that a dog has any justification for his existence.
      </p>
    
      <p>
        The old theory that animals have only instinct, not reason, to guide them, is knocked endways by the dog. 
        A dog can reason as well as a human being on some subjects, and better on others, and the best reasoning dog of all is the sheep-dog. 
        The sheep-dog is a professional artist with a pride in his business. Watch any drover's dogs bringing sheep into the yards. 
        How thoroughly they feel their responsibility, and how very annoyed they get if a stray dog with no occupation wants them to stop and fool about! 
        They snap at him and hurry off, as much as to say: "You go about your idleness. Don't you see this is my busy day?"
      </p>

      <p>
        Sheep-dogs are followers of Thomas Carlyle. They hold that the only happiness for a dog in this life is to find his work and to do it. The idle, `dilettante', non-working, aristocratic dog they have no use for.
        The training of a sheep-dog for his profession begins at a very early age. 
        The first thing is to take him out with his mother and let him see her working. He blunders lightheartedly, frisking along in front of the horse, and his owner tries to ride over him, and generally succeeds. 
        It is amusing to see how that knocks all the gas out of a puppy, and with what a humble air he falls to the rear and glues himself to the horse's heels, scarcely daring to look to the right or to the left, for fear of committing some other breach of etiquette.
      </p>
    </div>
  </div>

{% endblock %}