{% extends 'base.html' %}

{% block content %}
<div class='p-3 m-5'>
  <button type="button" class='btn btn-primary fs-4'><a style="text-decoration: none; color: white;" href='/poetry'>
    Go back</a>
  </button>
</div>

<div class="card p-5 m-5" style='width: 40vw; align-items: center;'>
  <div class="p-5">
    <h1 class="text-center pb-3">{{poem.title}}</h1>
    <p>{{poem.poem}}</p>
    <p>{{ poem.date_created }}</p>

    <!-- edit and delete buttons -->
    <div class="p-2">
      <button type="button" class="btn btn-outline-success"><a href="/poems/{{ poem._id }}/edit">Edit Poem</a></button>
    </div>
  </div>
</div>

{% endblock %}